html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12pt;
  color: #d0d0d0;
  background-color: #151515;
  position: relative;
}

.main{
  margin: 10px auto;
  width: 73%;
  padding: 10px;
}

.main-index{
  margin: auto;
  width: 75%;
  padding: 10px;
  position: relative;
  top: 30%;
}

div.comment-container {
  background-color: #202020;
  padding: 15px;
  margin: 30px 0;
  border-radius: 2px;
  overflow: auto
}

div.comment-header a {
  text-decoration: none;
  color: #909090;
}
div.comment-text a {
  color: #cccccc;
}

#searchbar{
  font-size: 14pt;
  width: 100%
}

#searchbar form {
  width: 100%
}

#searchbar input {
  display: inline-block;
  font-size: 14pt;
  padding: 10px 15px;
  color: white;
  text-align: center;
  border: none;
  border-radius: 3px;
  margin: 5px;
}

#searchbar input[type=submit] {
  background-color: #388E3C;
  float: right;
}

#searchbar input[id=keywords]{
  background-color: #404040;
  width: 400px;
}

@media screen and (max-width: 600px) {
    #searchbar input[id=keywords]{
      width: 200px;
    }  
}

#searchbar input[id=months]{
  background-color: #404040;
  width: 10px;
}

#searchbar input[type=number]{
  background-color: #404040;
  margin: 0 5px;
}

#found {
    margin-top: 30px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
