{{ define "searchbar" }}
<div id="searchbar">
  <form action="/search" method="get">
      <span> Search for </span>
      <input id="keywords" type="text" name="keywords" required="true" autofocus="true" placeholder="(python | 'embedded systems') & London" value="{{.Keywords}}">
      <span> within </span>
      <input id="months" type="number" name="months" required="true" placeholder="1" max="3" min="1" value="{{.Months}}"> 
      <span> month(s) </span>
      <input type="submit" value="GO"> 
  </form>
</div>
{{ end }}
