{{ define "searchbar" }}
<div id="searchbar">
  <form action="/search" method="get">
      <span> "Who's Hiring?" posts containing </span>
      <input id="keywords" type="text" name="keywords" placeholder="(python | 'embedded systems') & London" value="{{.Keywords}}">
      <span> posted within </span>
      <input id="months" type="text" name="months" placeholder="2" maxlength="1" size="1" value="{{.Months}}"> 
      <span> month(s) </span>
      <input type="submit" value="SEARCH"> 
  </form>
</div>
{{ end }}
